<%= form_with(model: [@user, @oc], local: true) do |form| %>
  <% if @oc.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@oc.errors.count, "error") %> prohibited this oc from being saved:</h2>
           <ul>
              <% @oc.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :bookgroup_id, "Select Group" %>
    <%= form.collection_select(:bookgroup_id, @group, :id, :name) %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :gviewer_id, "Select Gviewer" %>
    <%= form.collection_select(:gviewer_id, @gviewers, :id, :name) %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', user_path(@oc.user) %></p>
<% end %>
