<p id="notice"><%= notice %></p>

<h1>Wareshelves</h1>

<table>
  <thead>
    <tr>
      <th>Waretype</th>
      <th>Warelimit</th>
      <th>Warehouse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wareshelves.each do |wareshelf| %>
      <tr>
        <td><%= wareshelf.waretype %></td>
        <td><%= wareshelf.warelimit %></td>
        <td><%= wareshelf.warehouse_id %></td>
        <td><%= link_to 'Show', wareshelf %></td>
        <td><%= link_to 'Edit', edit_wareshelf_path(wareshelf) %></td>
        <td><%= link_to 'Destroy', wareshelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wareshelf', new_wareshelf_path %>
