<% if optional %>
   <% provide(:title, "Duelingpets: #{@user.vname}'s Channels") %>
   <% provide(:description, "Come and check out the newest channels from the director #{@user.vname}.") %>
   <% provide(:keywords, "virtualpet, digitalpets, channels, director") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @user.vname +  "'s channels") %>
<% else %>
   <% provide(:title, "Duelingpets: Channel") %>
   <% provide(:description, "Come check out the latest newest channels from our talented directors.") %>
   <% provide(:keywords, "virtualpet, digitalpets, channels, director") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, "Channel List") %>
<% end %>
<% if(@channels.count >= 10) %>
   <div class="formlinks"><%= paginate @channels %></div>
   <br>
<% end %>
<% @channels.each do |channel| %>
   <div class="videocontainer">
      <p><%= link_to channel.name, user_channel_path(channel.user, channel) %></p>
      <% if(displayVideo(channel, "index")) %>
         <p><%= video_tag(url_for(displayVideo(channel, "index").clip), poster: "#{url_for(displayVideo(channel, "index").thumbnail)}", class: "fitvideo", :controls => true) %></p>
      <% else %>
         <p>This Channel has no Movies to display!</p>
      <% end %>
   </div>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
