<%= form_with(model: [@user, @jukebox], local: true) do |form| %>
  <% if @jukebox.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@jukebox.errors.count, "error") %> prohibited this jukebox from being saved:</h2>
           <ul>
              <% @jukebox.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <br>
  <p class="pageformat">Ogg files</p>
  <div class="pageformat">
     <%= audio_tag(@jukebox.ogg_url.to_s, :controls => true) if @jukebox.ogg? %>
  </div>
  <div class="pageformat">
     <%= form.file_field :ogg %>
  </div>
  <div class="pageformat">
     <%= form.label :remote_ogg_url, "or Ogg URL" %>
     <%= form.text_field :remote_ogg_url %>
     <%= form.hidden_field :ogg_cache %>
  </div>
  <br>
  <p class="pageformat">MP3 files</p>
  <div class="pageformat">
     <%= audio_tag(@jukebox.mp3_url.to_s, :controls => true) if @jukebox.mp3? %>
  </div>
  <div class="pageformat">
     <%= form.file_field :mp3 %>
  </div>
  <div class="pageformat">
     <%= form.label :remote_mp3_url, "or Mp3 URL" %>
     <%= form.text_field :remote_mp3_url %>
     <%= form.hidden_field :mp3_cache %>
  </div>
  <br>
  <div class="pageformat">
    <%#= form.label :bookgroup_id, "Select Group" %>
    <%#= form.collection_select(:bookgroup_id, @group, :id, :name) %>
  </div>
  <br>
  <div class="pageformat">
    <%#= form.label :gviewer_id, "Select Gviewer" %>
    <%#= form.collection_select(:gviewer_id, @gviewers, :id, :name) %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :privatejukebox %>
    <%= form.check_box :privatejukebox %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', user_path(@jukebox.user) %></p>
<% end %>
