<% if optional %>
   <% provide(:title, "Duelingpets: #{@user.vname}'s Creatures") %>
   <% provide(:description, "Come and check out the newest creatures from the designer #{@user.vname}.") %>
   <% provide(:keywords, "virtualpet, digitalpets, creatures, designer") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @user.vname +  "'s creatures") %>
<% else %>
   <% provide(:title, "Duelingpets: Creature") %>
   <% provide(:description, "Come check out the latest newest creatures from our talented designers.") %>
   <% provide(:keywords, "virtualpet, digitalpets, creatures, designer") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, "Creature List") %>
<% end %>
<% if(@creatures.count >= 10) %>
   <div class="formlinks"><%= paginate @creatures %></div>
   <br>
<% end %>
<% @creatures.each do |creature| %>
   <div class="largeimagecontainer">
      <p><%= link_to creature.name, user_creature_path(creature.user, creature) %></p>
      <p><%= image_tag(url_for(creature.image), class: "fitlargeimages") %></p>
   </div>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
