<%= form_with(model: @maintenancemode, local: true) do |form| %>
  <% if @maintenancemode.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@maintenancemode.errors.count, "error") %> prohibited this maintenancemode from being saved:</h2>
           <ul>
              <% @maintenancemode.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :maintenance_on %>
    <%= form.check_box :maintenance_on %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', maintenancemodes_path %></p>
<% end %>
