<% provide(:title, "Duelingpets: Donors") %>
<% provide(:description, "Displays the donors that donated to a donationbox.") %>
<% provide(:keywords, "virtualpet, digitalpets, donors") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Donor List") %>
<div class="formlinks"><%= paginate @donors %></div>
<br>
<% @donors.each do |donor| %>
   <div class="pageformat">
      <p>Created: <%= distance_of_time_in_words_to_now donor.created_on %> ago on (<%= donor.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now donor.updated_on %> ago on (<%= donor.updated_on.strftime("%B-%d-%Y") %>)</p>
      <p>Amount: <%= donor.amount %></p>
      <p>Capacity: <%= donor.capacity %></p>
      <p>Donation box: <%= donor.donationbox.user.vname %></p>
      <p>Points received: <%= donor.pointsreceived %></p>
      <% if donor.user.userinfo.miniavatar.to_s != "" %>
         <br>
         <p><%= image_tag(donor.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">Donor: <%= getUserPrivilege(donor.user) %><%= link_to donor.user.vname, user_path(donor.user) %></p>
      <p>Status: <%= getActivity(donor.user) %>
         <% if getActivity(donor.user) != "Online" && getActivity(donor.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(donor.user) %>
         <% end %>
      </p>
      <br>
      <p class="textindent"><%= textFormater("Multi", donor.description, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
