<% if @monster.retiredmonster %>
   <% provide(:title, "Duelingpets: Monster #{@monster.name} is Retired") %>
   <% provide(:description, "This monster is retired.") %>
   <% provide(:keywords, "virtualpet, digitalpets, monster") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @monster.name + " [Retired]") %>
<% else %>
   <% provide(:title, "Duelingpets: Monster #{@monster.name}") %>
   <% provide(:description, "This monster is available for use.") %>
   <% provide(:keywords, "virtualpet, digitalpets, monster") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @monster.name) %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="fitlargeimages">
   <p><%= image_tag(url_for(@monster.image), class: "fitlargeimages") %></p>
</div>

<% @traitmaps.each do |traitmap| %>
   <br>
   <p><%= traitmap.traittype.name %> <%= traitmap.amount %></p>
<% end %>

<%= form_for Traitmap.new do |form| %>
   <div>
      <p><%= form.label :traittype_id, "Select your Trait!" %>
      <p><%= form.collection_select(:traittype_id, @traittypes, :id, :name) %> <%= form.number_field :amount %></p>
   </div>
   <br>
   <p><%= form.submit %></p>
   <%= form.hidden_field :entity_id, value: @monster.id %>
   <%= form.hidden_field :entitytype_id, value: 2 %>
<% end %>
<br>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
