<% provide(:title, "Duelingpets: Registrations") %>
<% provide(:description, "Allows the duelingpets staff to view the new registrations.") %>
<% provide(:keywords, "virtualpet, digitalpets, registration") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Registration List") %>
<div class="formlinks"><%= paginate @registrations %></div>
<br>
<% @registrations.each do |registration| %>
   <div class="pageformat">
      <div class="container"><%= button_to 'Approve', registrations_review1_path(:id=>registration.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Deny', registrations_review2_path(:id=>registration.id), method: :post, class: "button destroybutton" %></div>
      <p>Imaginary friend: <%= registration.imaginaryfriend %></p>
      <p>Birthday: <%= registration.birthday.strftime("%B-%d-%Y") %></p>
      <p>Country: <%= registration.country %></p>
      <p>Timezone: <%= registration.country_timezone %></p>
      <p>Email: <%= registration.email %></p>
      <p>Login name: <%= registration.login_id %></p>
      <p>Vname: <%= registration.vname %></p>
      <p>Registered: <%= distance_of_time_in_words_to_now registration.registered_on %> ago on (<%= registration.registered_on.strftime("%B-%d-%Y") %>)</p>
      <p>Shared: <%= registration.shared %></p>
      <br>
      <p class="textindent"><%= textFormater("Multi", registration.message, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
