<% provide(:title, "Duelingpets: Token Finder") %>
<% provide(:description, "Allows user to sign up for an account after consent has been given.") %>
<% provide(:keywords, "virtualpet, digitalpets, register") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Token Finder") %>
<%= form_for(:session, url: registrations_tokenpost_path) do |form| %>
   <div class="pageformat">
      <p>
         <%= form.label :regtoken, "Please provide your consent token here!" %></p>
         <%= form.text_field :regtoken %>
      </p>
      <br>
      <p><%= form.submit "Submit", class: "button submitbutton" %></p>
   </div>
<% end %>
<br>
<p class="formlinks"><%= link_to "Back", root_path %></p>
