<% provide(:title, "Duelingpets: Baserates") %>
<% provide(:description, "The default rates to manage the Duelingpets economy.") %>
<% provide(:keywords, "virtualpet, digitalpets, rates, economy") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Baserate List") %>
<% @baserates.each do |baserate| %>
   <div class="pageformat">
      <p>Name: <%= baserate.name %></p>
      <p>Amount: <%= baserate.amount %></p>
      <p>Created: <%= distance_of_time_in_words_to_now baserate.created_on %> ago on (<%= baserate.created_on.strftime("%B-%d-%Y") %>)</p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
