<% provide(:title, "Duelingpets: Inventories") %>
<% provide(:description, "Allows users to store items in their inventory.") %>
<% provide(:keywords, "virtualpet, digitalpets, inventory") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Inventory List") %>
<div class="formlinks"><%= paginate @inventories %></div>
<br>
<% @inventories.each do |inventory| %>
   <div class="pageformat">
      <% if inventory.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(inventory.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p>Owner: <%= getUserPrivilege(inventory.user) %><%= link_to inventory.user.vname, user_path(inventory.user) %></p>
      <p>Status: <%= getActivity(inventory.user) %>
         <% if getActivity(inventory.user) != "Online" && getActivity(inventory.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(inventory.user) %>
         <% end %>
      </p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
