<% provide(:title, "Duelingpets: PMs") %>
<% provide(:description, "PMs allows users to communicate with each other.") %>
<% provide(:keywords, "virtualpet, digitalpets, pms") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "PM List") %>
<div class="formlinks"><%= paginate @pms %></div>
<br>
<% @pms.each do |pm| %>
   <div class="pageformat">
      <div class="container"><p class="formlinks">Title: <%= link_to pm.title, pmbox_pm_path(pm.pmbox, pm) %></p></div> <div class="container"><%= button_to 'Edit', edit_pmbox_pm_path(pm.pmbox, pm), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [pm.pmbox, pm], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
      <p>Created: <%= distance_of_time_in_words_to_now pm.created_on %> ago on (<%= pm.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now pm.updated_on %> ago on(<%= pm.updated_on.strftime("%B-%d-%Y") %>)</p>
      <% if pm.image.to_s != "" %>
         <br>
         <p><%= image_tag(pm.image_url(:thumb)) %></p>
      <% end %>
      <% if pm.ogg.to_s != "" || pm.mp3.to_s != "" %>
         <br>
         <p><%= audio_tag(getMusicOrVideo("Sound", pm), :controls => true) %></p>
      <% end %>
      <% if pm.ogv.to_s != "" || pm.mp4.to_s != "" %>
         <br>
         <p><%= video_tag(getMusicOrVideo("Movie", pm), width: "65%", :controls => true) %></p>
      <% end %>
      <br>
      <% if pm.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(pm.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">PMbox owner: <%= getUserPrivilege(pm.pmbox.user) %><%= link_to pm.pmbox.user.vname, user_path(pm.pmbox.user) %></p>
      <p>PMbox unread status: <%= pm.user2_unread %></p>
      <p class="formlinks">Owner: <%= getUserPrivilege(pm.user) %><%= link_to pm.user.vname, user_path(pm.user) %></p>
      <p>PM unread status: <%= pm.user1_unread %></p>
      <p>Status: <%= getActivity(pm.user) %>
         <% if getActivity(pm.user) != "Online" && getActivity(pm.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(pm.user) %>
         <% end %>
      </p>
      <br>
      <p class="textindent"><%= textFormater("Multi", pm.message, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
