<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
           <ul>
              <% @user.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :imaginaryfriend %>
    <%= form.text_field :imaginaryfriend %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :country_timezone, "Timezone(logged_in only view)" %>
    <%= form.time_zone_select :country_timezone, ActiveSupport::TimeZone.us_zones %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :birthday, "Birthday(logged_in only view)" %>
    <%= form.date_select :birthday, start_year: Date.today.year - 170, end_year: Date.today.year %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :login_id %>
    <%= form.text_field :login_id %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :vname %>
    <%= form.text_field :vname %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :shared %>
    <%= form.check_box :shared %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :password_confirmation, "Password Confirmation" %>
    <%= form.password_field :password_confirmation %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% end %>
