<% provide(:title, "Duelingpets: Upgrade Info") %>
<% provide(:description, "Allows the user to see the stats of their current upgrades.") %>
<% provide(:keywords, "virtualpet, digitalpets, upgrade") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Upgrade Info") %>
<div class="pageformat">
   <p><%= image_tag(displayGreeter("Upinfo").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Upinfo").message, "All").html_safe %></p>
   <br>
   <p>Pouch level: <%= getLimit("Pouch") %></p>
   <p>Emerald level: <%= getLimit("Emerald") %></p>
   <p>Dreyore level: <%= getLimit("Dreyore") %></p>
   <p>OC level: <%= getLimit("OCup") %></p>
   <p>Blog level: <%= getLimit("Blog") %></p>
   <p>Gallery level: <%= getLimit("Gallery") %></p>
   <p>Book level: <%= getLimit("Book") %></p>
   <p>Jukebox level: <%= getLimit("Jukebox") %></p>
   <p>Channel level: <%= getLimit("Channel") %></p>
</div>
<br>
<p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
