<% provide(:title, "Duelingpets: Alternate Email") %>
<% provide(:description, "Allows password recovery through an alternate email if original one is lost.") %>
<% provide(:keywords, "virtualpet, digitalpets, recovery") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Alternate Email") %>
<div class="pageformat">
   <p><%= image_tag(@artpage.art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", @artpage.message, "All").html_safe %></p>
   <br>
   <h2 class="subheader1">Password Recovery of Last Resort!</h2>
</div>
<br>
<div class="pageformat">
   <%= form_for(:session, url: altemailpost_path) do |f| %>
      <p><%= f.label :login_id, "Login Name" %></p>
      <p><%= f.text_field :login_id %></p>
      <br>
      <p><%= f.label :vname, "Virtual Name" %></p>
      <p><%= f.text_field :vname %></p>
      <br>
      <p><%= f.label :email, "Email" %></p>
      <p><%= f.text_field :email %></p>
      <br>
      <p><%= f.submit "Reset", class: "button submitbutton" %></p>
   <% end %>
</div>
<br>
<div class="pageformat">
   <p class="formlinks"><%= link_to "Back", root_path %></p>
</div>
