<% provide(:title, "Duelingpets: Login") %>
<% provide(:description, "Allows users to login in to the website.") %>
<% provide(:keywords, "virtualpet, digitalpets, login") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Login") %>
<div class="pageformat">
   <p><%#= image_tag(@artpage.art_url(:thumb)) %></p>
   <p class="textindent"><%#= textFormater("Multi", @artpage.message, "All").html_safe %></p>
</div>
<br>
<div class="pageformat">
   <%= form_for(:session, url: loginpost_path) do |f| %>
      <p><%= f.label :login_id, "Login Name" %></p>
      <p><%= f.text_field :login_id %></p>
      <br>
      <p><%= f.label :password %></p>
      <p><%= f.password_field :password %></p>
      <br>
      <p><%= f.submit "Login", class: "button submitbutton" %></p>
   <% end %>
</div>
<br>
<div class="pageformat">
   <p class="formlinks">New User? <%= link_to "Register now!", register_path  %></p>
   <p class="formlinks">New Account? <%= link_to "Activate now!", activate_path %></p>
   <p class="formlinks">Forgot Login? <%= link_to "Find Login", findlogin_path %></p>
   <p class="formlinks">Forgot Password? <%= link_to "Forgot Password", recover_path %></p>
   <br>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
</div>
