<% provide(:title, "Duelingpets: Mainsheets") %>
<% provide(:description, "Allows users to add top folders to organize jukebox content.") %>
<% provide(:keywords, "virtualpet, digitalpets, folder, jukebox") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Mainsheet List") %>
<div class="formlinks"><%= paginate @mainsheets %></div>
<br>
<% @mainsheets.each do |mainsheet| %>
   <div class="pageformat">
      <p>Created: <%= distance_of_time_in_words_to_now mainsheet.created_on %> ago on (<%= mainsheet.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now mainsheet.updated_on %> ago on (<%= mainsheet.updated_on.strftime("%B-%d-%Y") %>)</p>
      <div class="container"><p class="formlinks">Title: <%= link_to mainsheet.title, jukebox_mainsheet_path(mainsheet.jukebox, mainsheet) %></p></div> <div class="container"><%= button_to 'Edit', edit_jukebox_mainsheet_path(mainsheet.jukebox, mainsheet), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [mainsheet.jukebox, mainsheet], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
      <br>
      <% if mainsheet.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(mainsheet.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">Composer: <%= getUserPrivilege(mainsheet.user) %><%= link_to mainsheet.user.vname, user_path(mainsheet.user) %></p>
      <p class="formlinks">Jukebox: <%= link_to mainsheet.jukebox.name, user_jukebox_path(mainsheet.user, mainsheet.jukebox) %></p>
      <p>Status: <%= getActivity(mainsheet.user) %>
         <% if getActivity(mainsheet.user) != "Online" && getActivity(mainsheet.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(mainsheet.user) %>
         <% end %>
      </p>
      <br>
      <p class="textindent"><%= textFormater("Multi", mainsheet.description, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
