<%= form_with(model: wareobject, local: true) do |form| %>
  <% if wareobject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wareobject.errors.count, "error") %> prohibited this wareobject from being saved:</h2>

      <ul>
      <% wareobject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :wareshelf_id %>
    <%= form.number_field :wareshelf_id %>
  </div>

  <div class="field">
    <%= form.label :wareobject_id %>
    <%= form.number_field :wareobject_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
