<% if optional %>
   <% provide(:title, "Duelingpets: #{@user.vname}'s Tags") %>
   <% provide(:description, "Come and check out the newest tags from the creator #{@user.vname}.") %>
   <% provide(:keywords, "virtualpet, digitalpets, tags, creator") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @user.vname +  "'s tags") %>
<% else %>
   <% provide(:title, "Duelingpets: Tag") %>
   <% provide(:description, "Come check out the latest newest tags from our talented users.") %>
   <% provide(:keywords, "virtualpet, digitalpets, tags") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, "Tag List") %>
<% end %>
<div class="formlinks"><%= paginate @tags %></div>
<br>
<% @tags.each do |tag| %>
   <div class="pageformat">
      <div class="container"><p><%= tag.name %></p></div>
      <% if(current_user && ((tag.user_id == current_user.id) || current_user.pouch.privilege == "Admin")) %>
         <div class="container"><%= button_to 'Edit', edit_user_tag_path(tag.user, tag), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [tag.user, tag], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
      <% end %>
      <p>Created: <%= distance_of_time_in_words_to_now tag.created_on %> ago on (<%= tag.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now tag.updated_on %> ago on (<%= tag.updated_on.strftime("%B-%d-%Y") %>)</p>
      <% if !optional %>
         <br>
         <% if tag.user.userinfo.miniavatar.to_s != "" %>
            <p><%= image_tag(tag.user.userinfo.miniavatar_url(:thumb)) %></p>
         <% end %>
         <p class="formlinks">Owner: <%= getUserPrivilege(tag.user) %><%= link_to tag.user.vname, user_path(tag.user) %></p>
         <p>Group: <%= tag.bookgroup.name %></p>
         <p>Status: <%= getActivity(tag.user) %>
            <% if getActivity(tag.user) != "Online" && getActivity(tag.user) != "Inoperable" %>
               for <%= distance_of_time_in_words_to_now getTime(tag.user) %>
            <% end %>
         </p>
      <% else %>
         <br>
         <p>Group: <%= tag.bookgroup.name %></p>
      <% end %>
   </div>
   <br>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
