<% if optional %>
   <% provide(:title, "Duelingpets: #{@user.vname}'s Blogs") %>
   <% provide(:description, "Come and check out the latest news from #{@user.vname}.") %>
   <% provide(:keywords, "virtualpet, digitalpets, blogs, news") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @user.vname +  "'s blogs") %>
<% else %>
   <% provide(:title, "Duelingpets: Blog") %>
   <% provide(:description, "Come check out the latest news and advertisements from our website users.") %>
   <% provide(:keywords, "virtualpet, digitalpets, blogs, news") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, "Blog List") %>
<% end %>
<div class="formlinks"><%= paginate @blogs %></div>
<br>
<% @blogs.each do |blog| %>
   <div class="pageformat">
      <p class="formlinks"><%= link_to blog.title, user_blog_path(blog.user, blog) %></p>
      <p>Created on: <%= blog.created_on.strftime("%B-%d-%Y") %> (<%= distance_of_time_in_words_to_now blog.created_on %> ago)</p>
      <% if !blog.reviewed_on.nil? %>
         <p>Reviewed on: <%= blog.reviewed_on.strftime("%B-%d-%Y") %> (<%= distance_of_time_in_words_to_now blog.reviewed_on %> ago)</p>
      <% end %>
      <p>Updated on: <%= blog.updated_on.strftime("%B-%d-%Y") %> (<%= distance_of_time_in_words_to_now blog.updated_on %> ago)</p>
      <% if !optional %>
         <br>
         <% if blog.user.userinfo.miniavatar.to_s != "" %>
            <p><%= image_tag(blog.user.userinfo.miniavatar_url(:thumb)) %></p>
         <% end %>
         <p class="formlinks">Blogger: <%= getUserPrivilege(blog.user) %><%= link_to blog.user.vname, user_path(blog.user) %></p>
         <p>Group: <%= blog.bookgroup.name %></p>
         <p>Type: <%= blog.blogtype.name %></p>
         <p>Viewer: <%= blog.gviewer.name %></p>
         <p>Status: <%= getActivity(blog.user) %>
            <% if getActivity(blog.user) != "Online" && getActivity(blog.user) != "Inoperable" %>
               for <%= distance_of_time_in_words_to_now getTime(blog.user) %>
            <% end %>
         </p>
         <br>
      <% else %>
         <br>
         <p>Group: <%= blog.bookgroup.name %></p>
         <p>Type: <%= blog.blogtype.name %></p>
         <p>Viewer: <%= blog.blogviewer.name %></p>
         <br>
      <% end %>
      <p class="textindent"><%= textFormater("Multi", blog.description, "All").html_safe %></p>
      <p>There are no comments on this blog</p>
      <p>There are no stars on this blog</p>
      <p>There are no favorites on this blog</p>
   </div>
   <br>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
