<% provide(:title, "Duelingpets: Blog Review") %>
<% provide(:description, "Lets check out our talented bloggers.") %>
<% provide(:keywords, "virtualpet, digitalpets, blogger") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Blog Review") %>
<div class="formlinks"><%= paginate @blogs %></div>
<br>
<% @blogs.each do |blog| %>
   <div class="pageformat">
      <% if blog.blogtype.name == "Adblog" && blog.adbanner.to_s != "" %>
         <p><%= image_tag(blog.adbanner_url(:thumb), id: "adbanner") %></p>
      <% end %>
      <div class="container"><p class="formlinks"><%= link_to blog.title, user_blog_path(blog.user, blog) %></p></div> <div class="container"><%= button_to 'Approve', blogs_review1_path(:blog_id=>blog.id), method: :post, class: "button editbutton" %></div> <div class="container"><%= button_to 'Deny', blogs_review2_path(:blog_id=>blog.id), method: :post, class: "button destroybutton" %></div>
      <p>Created: <%= distance_of_time_in_words_to_now blog.created_on %> ago on (<%= blog.created_on.strftime("%B-%d-%Y") %>)</p>
      <% if !blog.reviewed_on.nil? %>
         <p>Reviewed: <%= distance_of_time_in_words_to_now blog.reviewed_on %> ago on (<%= blog.reviewed_on.strftime("%B-%d-%Y") %>)</p>
      <% end %>
      <p>Updated: <%= distance_of_time_in_words_to_now blog.updated_on %> ago on (<%= blog.updated_on.strftime("%B-%d-%Y") %>)</p>
      <br>
      <% if blog.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(blog.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">Blogger: <%= getUserPrivilege(blog.user) %><%= link_to blog.user.vname, user_path(blog.user) %></p>
      <p>Group: <%= blog.bookgroup.name %></p>
      <p>Type: <%= blog.blogtype.name %></p>
      <p>Viewer: <%= blog.gviewer.name %></p>
      <% if blog.blogtype.name == "Blog" %>
         <p>Points gained: <%= blog.pointsreceived %></p>
      <% end %>
      <p>Status: <%= getActivity(blog.user) %>
         <% if getActivity(blog.user) != "Online" && getActivity(blog.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(blog.user) %>
         <% end %>
      </p>
      <% if blog.blogtype.name == "Blog" && blog.admascot.to_s != "" %>
         <br>
         <p class="centerpagecontent"><%= image_tag(blog.admascot_url(:thumb)) %></p>
      <% end %>
      <% if blog.blogtype.name == "Adblog" %>
         <br>
         <p>Adbanner purchased: <%= blog.adbannerpurchased %></p>
         <p>Largeimage1 purchased: <%= blog.largeimage1purchased %></p>
         <p>Largeimage2 purchased: <%= blog.largeimage2purchased %></p>
         <p>Largeimage3 purchased: <%= blog.largeimage3purchased %></p>
         <p>Smallimage1 purchased: <%= blog.smallimage1purchased %></p>
         <p>Smallimage2 purchased: <%= blog.smallimage2purchased %></p>
         <p>Smallimage3 purchased: <%= blog.smallimage3purchased %></p>
         <p>Smallimage4 purchased: <%= blog.smallimage4purchased %></p>
         <p>Smallimage5 purchased: <%= blog.smallimage5purchased %></p>
         <p>Music purchased: <%= blog.musicpurchased %></p>
         <% if blog.ogg.to_s != "" || blog.mp3.to_s != "" %>
            <br>
            <p><%= audio_tag(getMusicOrVideo("Sound", blog), :controls => true) %></p>
         <% end %>
         <% if(blog.largeimage1.to_s != "" || blog.largeimage2.to_s != "" || blog.largeimage3.to_s != "") %>
            <br>
            <p class="centerpagecontent">
               <% if blog.largeimage1.to_s != "" %>
                  <%= image_tag(blog.largeimage1_url(:thumb)) %>
               <% end %>
               <% if blog.largeimage2.to_s != "" %>
                  <%= image_tag(blog.largeimage2_url(:thumb)) %>
               <% end %>
               <% if blog.largeimage3.to_s != "" %>
                  <%= image_tag(blog.largeimage3_url(:thumb)) %>
               <% end %>
            </p>
         <% end %>
         <% if(blog.smallimage1.to_s != "" || blog.smallimage2.to_s != "" || blog.smallimage3.to_s != "" || blog.smallimage4.to_s != "" || blog.smallimage5.to_s != "") %>
            <br>
            <p class="centerpagecontent">
               <% if blog.smallimage1.to_s != "" %>
                  <%= image_tag(blog.smallimage1_url(:thumb)) %>
               <% end %>
               <% if blog.smallimage2.to_s != "" %>
                  <%= image_tag(blog.smallimage2_url(:thumb)) %>
               <% end %>
               <% if blog.smallimage3.to_s != "" %>
                  <%= image_tag(blog.smallimage3_url(:thumb)) %>
               <% end %>
               <% if blog.smallimage4.to_s != "" %>
                  <%= image_tag(blog.smallimage4_url(:thumb)) %>
               <% end %>
               <% if blog.smallimage5.to_s != "" %>
                  <%= image_tag(blog.smallimage5_url(:thumb)) %>
               <% end %>
            </p>
         <% end %>
      <% end %>
      <br>
      <p class="textindent"><%= textFormater("Multi", blog.description, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
