<% provide(:title, "Duelingpets: Battle") %>
<% provide(:description, "If your itching for a battle you have come to the right place. Check out our Creatures, Monsters, Items, and Elements and Monster Cave.") %>
<% provide(:keywords, "virtualpet, digitalpets, battle") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Battle") %>
<p><%= link_to "Monster Cave", monsters_cave_path %></p>
<p>Looking for some monsters to fight? The check out the monster cave section which tons of monsters to battle.</p>
<br>
<p><%= link_to "Creatures", creatures_path %></p>
<p>Looking for some cute pets? Then check out our creature section which has of cute looking creatures.</p>
<br>
<p><%= link_to "Monsters", monsters_path %></p>
<p>On the look out for some pesky monsters? Come and check our monster section which has many mischievious monsters.</p>
<br>
<p><%= link_to "Items", items_path %></p>
<p>Want a drink of water or a slice of bread? Then check out our item section which has many different items to choose from.</p>
<br>
<p><%= link_to "Elements", elements_path %></p>
<p>Looking for different element types? Come check out our element section which has many different elements to choose from.</p>
<br>
<p><%= link_to "Elementshields", elementcharts_path %></p>
<p>Element shields are a great way to customize your pet or monster to different attacks! Select one today.</p>
<br>
<p><%= link_to "Damageoffsets", damageoffsets_path %></p>
<p>The place to know how effective a particular element is against a particular pet or monster!</p>
<br>
<p><%= link_to "Back to Homepage", root_path %></p>
