<% provide(:title, "Duelingpets: Contact") %>
<% provide(:description, "Allows users to ask the Admin for info.") %>
<% provide(:keywords, "virtualpet, digitalpets, contact") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Contact") %>
<div class="pageformat">
   <p><%= image_tag(displayGreeter("Contact").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Contact").message, "All").html_safe %></p>
   <br>
   <%= form_for(:session, url: verify_path) do |f| %>
      <p><%= f.label :color, "What is your favorite color?" %></p>
      <p><%= f.text_field :color %></p>
      <br>
      <p><%= f.submit "Submit", class: "button submitbutton" %></p>
   <% end %>
</div>
<br>
<p class="formlinks"><%= link_to "Back", root_path %></p>
