<% provide(:title, "Duelingpets: Contact") %>
<% provide(:description, "Allows players to ask the Admin questions.") %>
<% provide(:keywords, "virtualpet, digitalpets, contact") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Contact") %>
<div class="pageformat">
   <p><%= image_tag(displayGreeter("Contact").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Contact").message, "All").html_safe %></p>
   <br>
   <p class="formlinks">Mail to: <%= mail_to("contact@duelingpets.net") %></p>
   <br>
   <%= form_for(:session, url: verify2_path) do |f| %>
      <p><%= f.label :name %></p>
      <p><%= f.text_field :name %></p>
      <br>
      <p><%= f.label :email %></p>
      <p><%= f.text_field :email %></p>
      <br>
      <p><%= f.label :subject %></p>
      <p><%= f.text_field :subject %></p>
      <br>
      <p><%= f.label :body %></p>
      <p><%= f.text_area :body %></p>
      <br>
      <p><%= f.submit "Submit", class: "button submitbutton" %></p>
   <% end %>
</div>
<br>
<p class="formlinks"><%= link_to "Back", root_path %></p>
