<% provide(:title, "Duelingpets: Reviewer panel") %>
<% provide(:description, "Allows the review staff to review user generated content.") %>
<% provide(:keywords, "virtualpet, digitalpets, review") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Reviewercontrol panel") %>
<div class="pageformat">
   <p class="formlinks">Monster review: <%= link_to "Review", monsters_review_path %></p>
   <p class="formlinks">Creature review: <%= link_to "Review", creatures_review_path %></p>
   <p class="formlinks">Item review: <%= link_to "Review", items_review_path %></p>
   <p class="formlinks">OC review: <%= link_to "Review", ocs_review_path %></p>
   <p class="formlinks">Blog review: <%= link_to "Review", blogs_review_path %></p>
   <p class="formlinks">Sound review: <%= link_to "Review", sounds_review_path %></p>
   <p class="formlinks">Chapter review: <%= link_to "Review", chapters_review_path %></p>
   <p class="formlinks">Movie review: <%= link_to "Review", movies_review_path %></p>
   <p class="formlinks">Art review: <%= link_to "Review", arts_review_path %></p>
   <br>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
</div>
