<% provide(:title, "Duelingpets: Studio") %>
<% provide(:description, "Check out our Studio section for the latest movies, sounds, artwork, travel pals, books, and color patterns.") %>
<% provide(:keywords, "virtualpet, digitalpets, colorschemes") %>
<% provide(:robots, "index, follow") %>
<% provide(:h1, "Studio") %>
<p><%= link_to "Channels", channels_path %></p>
<p>Looking for some interesting videos? Check out the Channel section to browse the various movies on the website.</p>
<br>
<p><%= link_to "Jukeboxes", jukeboxes_path %></p>
<p>In the mood for some rocking tunes? Look no further than the Jukebox section to browse the various sounds on the website.</p>
<br>
<p><%= link_to "Galleries", galleries_path %></p>
<p>Want to explore the latest artworks? Jump on into the Gallery section to browse all the exciting new artwork on the website.</p>
<br>
<p><%= link_to "Bookworlds", bookworlds_path %></p>
<p>Looking for interesting book that you can relax to? Look no further than our Bookworld section which has many different types of books on the website.</p>
<br>
<p><%= link_to "Travel Pals", ocs_path %></p>
<p>Looking for a little pet to keep you company? Check out our Travel Pals section to get some ideas for your very own Travel Pal.</p>
<br>
<p><%= link_to "Pallets", colorschemes_path %></p>
<p>Wanting a bit more color to your user account? Jump over to the Pallets section to browse our various color patterns along with images to show what the chosen pattern will look like.</p>
<br>
<p><%= link_to "Back to Homepage", root_path %></p>
