<%= form_with(model: traitmap, local: true) do |form| %>
  <% if traitmap.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(traitmap.errors.count, "error") %> prohibited this traitmap from being saved:</h2>

      <ul>
      <% traitmap.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :entity_id %>
    <%= form.number_field :entity_id %>
  </div>

  <div class="field">
    <%= form.label :entitytype_id %>
    <%= form.number_field :entitytype_id %>
  </div>

  <div class="field">
    <%= form.label :traittype_id %>
    <%= form.number_field :traittype_id %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
