<div class="pageformat">
   <p><%= image_tag(displayGreeter("Suggestion").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Suggestion").message, "All").html_safe %></p>
</div>
<br>
<%= form_with(model: [@user, @suggestion], local: true) do |form| %>
  <% if @suggestion.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@suggestion.errors.count, "error") %> prohibited this suggestion from being saved:</h2>
           <ul>
              <% @suggestion.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', user_path(@suggestion.user) %></p>
<% end %>
