<% if optional %>
   <% provide(:title, "Duelingpets: #{@user.vname}'s Bookworlds") %>
   <% provide(:description, "Come and check out the newest bookworlds from the writer #{@user.vname}.") %>
   <% provide(:keywords, "virtualpet, digitalpets, bookworlds, writer") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, @user.vname +  "'s bookworlds") %>
<% else %>
   <% provide(:title, "Duelingpets: Bookworld") %>
   <% provide(:description, "Come check out the latest newest bookworlds from our talented writers.") %>
   <% provide(:keywords, "virtualpet, digitalpets, bookworlds, writer") %>
   <% provide(:robots, "index, follow") %>
   <% provide(:h1, "Bookworld List") %>
<% end %>
<% if(@bookworlds.count >= 10) %>
   <div class="formlinks"><%= paginate @bookworlds %></div>
   <br>
<% end %>
<% @bookworlds.each do |bookworld| %>
   <div class="bookworldcontainer">
      <p><%= link_to bookworld.name, user_bookworld_path(bookworld.user, bookworld) %></p>
      <% if(displayStory(bookworld, "index")) %>
         <p class="bookcoversize"><%= image_tag(url_for(displayStory(bookworld, "index").bookcover), class: "fitsmallimages") %></p>
      <% else %>
         <p>This Bookworld has no Books to display!</p>
      <% end %>
   </div>
<% end %>
<% if optional %>
   <p class="formlinks"><%= link_to 'Back', user_path(@user) %></p>
<% else %>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
<% end %>
