<% provide(:title, "Duelingpets: Fights") %>
<% provide(:description, "Displays the wins, losses and draws of different partners.") %>
<% provide(:keywords, "virtualpet, digitalpets, partner") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Fight List") %>
<div class="formlinks"><%= paginate @fights %></div>
<br>
<% @fights.each do |fight| %>
   <div class="pageformat">
      <p><%= fight.partner.name %></p>
      <p>Wins: <%= fight.win %></p>
      <p>Draws: <%= fight.draw %></p>
      <p>Losses: <%= fight.loss %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
