<% provide(:title, "Duelingpets: PMreplies") %>
<% provide(:description, "PMreplies allows users to reply to pms.") %>
<% provide(:keywords, "virtualpet, digitalpets, pms") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "PMreply List") %>
<div class="formlinks"><%= paginate @pmreplies %></div>
<br>
<% @pmreplies.each do |pmreply| %>
   <div class="pageformat">
      <div class="container"><p class="formlinks">Reply: <%= link_to pmreply.pm.title, pmbox_pm_path(pmreply.pm.pmbox, pmreply.pm) %></p></div> <div class="container"><%= button_to 'Edit', edit_pm_pmreply_path(pmreply.pm, pmreply), method: :get, class: "button editbutton" %></div> <div class="container"><%= button_to 'Destroy', [pmreply.pm, pmreply], method: :delete, class: "button destroybutton", data: { confirm: 'Are you sure?' } %></div>
      <p>Created: <%= distance_of_time_in_words_to_now pmreply.created_on %> ago on (<%= pmreply.created_on.strftime("%B-%d-%Y") %>)</p>
      <p>Updated: <%= distance_of_time_in_words_to_now pmreply.updated_on %> ago on(<%= pmreply.updated_on.strftime("%B-%d-%Y") %>)</p>
      <% if pmreply.image.to_s != "" %>
         <br>
         <p><%= image_tag(pmreply.image_url(:thumb)) %></p>
      <% end %>
      <% if pmreply.ogg.to_s != "" || pmreply.mp3.to_s != "" %>
         <br>
         <p><%= audio_tag(getMusicOrVideo("Sound", pmreply), :controls => true) %></p>
      <% end %>
      <% if pmreply.ogv.to_s != "" || pmreply.mp4.to_s != "" %>
         <br>
         <p><%= video_tag(getMusicOrVideo("Movie", pmreply), width: "65%", :controls => true) %></p>
      <% end %>
      <br>
      <% if pmreply.user.userinfo.miniavatar.to_s != "" %>
         <p><%= image_tag(pmreply.user.userinfo.miniavatar_url(:thumb)) %></p>
      <% end %>
      <p class="formlinks">PM owner: <%= getUserPrivilege(pmreply.pm.user) %><%= link_to pmreply.pm.user.vname, user_path(pmreply.pm.user) %></p>
      <p class="formlinks">Owner: <%= getUserPrivilege(pmreply.user) %><%= link_to pmreply.user.vname, user_path(pmreply.user) %></p>
      <p>Status: <%= getActivity(pmreply.user) %>
         <% if getActivity(pmreply.user) != "Online" && getActivity(pmreply.user) != "Inoperable" %>
            for <%= distance_of_time_in_words_to_now getTime(pmreply.user) %>
         <% end %>
      </p>
      <br>
      <p class="textindent"><%= textFormater("Multi", pmreply.message, "All").html_safe %></p>
   </div>
   <br>
<% end %>
<p class="formlinks"><%= link_to 'Back', root_path %></p>
