<%= form_with(model: [@channel, @mainplaylist], local: true) do |form| %>
  <% if @mainplaylist.errors.any? %>
     <div class="alignboxes">
        <div id="errorexplan">
           <h2 id="errorheader"><%= pluralize(@mainplaylist.errors.count, "error") %> prohibited this mainplaylist from being saved:</h2>
           <ul>
              <% @mainplaylist.errors.full_messages.each do |message| %>
                 <li class="explantext"><%= message %></li>
              <% end %>
           </ul>
        </div>
     </div>
  <% end %>
  <div class="pageformat">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <br>
  <div class="pageformat">
    <%= form.submit class: "button submitbutton" %>
  </div>
  <br>
  <p class="formlinks"><%= link_to 'Back', user_channel_path(@channel.user, @channel) %></p>
<% end %>
