<% provide(:title, "Duelingpets: Pouchtypes") %>
<% provide(:description, "Sets specific upgrades for each pouchslot.") %>
<% provide(:keywords, "virtualpet, digitalpets, upgrades") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Pouchtype List") %>
<div class="formlinks"><%= paginate @pouchtypes %></div>
<br>
<% @pouchtypes.each do |pouchtype| %>
   <div class="pageformat">
      <p>Created: <%= distance_of_time_in_words_to_now pouchtype.created_on %> ago on (<%= pouchtype.created_on.strftime("%B-%d-%Y") %>)</p>
      <div class="container"><p class="formlinks">Name: <%= link_to pouchtype.name, pouchtypes_path %></p></div> <div class="container"><%= button_to 'Edit', edit_pouchtype_path(pouchtype), method: :get, class: "button editbutton" %></div>
   </div>
   <br>
<% end %>
<div class="pageformat">
   <p><%= button_to 'New Pouchtype', new_pouchtype_path, method: :get %></p>
   <br>
   <p class="formlinks"><%= link_to 'Back', root_path %></p>
</div>
