<%= form_with(model: animalstat, local: true) do |form| %>
  <% if animalstat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animalstat.errors.count, "error") %> prohibited this animalstat from being saved:</h2>

      <ul>
      <% animalstat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :animaltype_id %>
    <%= form.number_field :animaltype_id %>
  </div>

  <div class="field">
    <%= form.label :stat_id %>
    <%= form.number_field :stat_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
