<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @damageoffset.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @damageoffset.value %>
</p>

<%= link_to 'Edit', edit_damageoffset_path(@damageoffset) %> |
<%= link_to 'Back', damageoffsets_path %>
