<% provide(:title, "Duelingpets: Junkdealer") %>
<% provide(:description, "Allows users to get rid of items that they don't need.") %>
<% provide(:keywords, "virtualpet, digitalpets, junkdealer, items") %>
<% provide(:robots, "noindex, nofollow") %>
<% provide(:h1, "Junkdealer") %>
<div class="pageformat">
   <p><%= image_tag(displayGreeter("Junkdealer").art_url(:thumb)) %></p>
   <p class="textindent"><%= textFormater("Multi", displayGreeter("Junkdealer").message, "All").html_safe %></p>
   <br>
   <p>Ahh you have a <%= @item.name %> that you like to get rid of.</p>
   <p>For that I will give you <%= @points %> points in exchange for it.</p>
   <br>
   <p class="formlinks"><%= link_to @item.name, user_item_path(@item.user, @item) %></p>
   <% if getItemImage(@slotindex, @invslot, "Imagecheck").to_s != "" %>
      <p><%= image_tag(getItemImage(@slotindex, @invslot, "Image")) %></p>
   <% end %>
   <p>Durability: <%= getDurability(@slotindex, @invslot, "Current") %>/<%= getDurability(@slotindex, @invslot, "Starter") %></p>
   <p>Rarity: <%= @item.rarity %></p>
   <p>Equipable: <%= @item.equipable %></p>
   <p>Type: <%= @item.itemtype.name %></p>
   <p>Cost: <%= @item.cost %></p>
   <p>Emeralds: <%= @item.emeraldcost %></p>
   <p class="formlinks">Artist: <%= getUserPrivilege(@item.user) %><%= link_to @item.user.vname, user_path(@item.user) %></p>
   <br>
   <p>Stats</p>
   <%= getStats(@slotindex, @invslot) %>
   <br>
   <p>Do you accept my deal?</p>
   <br>
   <div class="container"><%= button_to 'Yes', items_deal1_path(:slotindex_id=>@slotindex, :inventoryslot_id=>@invslot), method: :post, class: "button editbutton" %></div> or <div class="container"><%= button_to 'No', items_deal2_path(:slotindex_id=>@slotindex, :inventoryslot_id=>@invslot), method: :post, class: "button destroybutton" %></div>
</div>
